.childWidth{
 
    bottom: 1rem;
    padding-top: 1rem;
    padding-left: 2rem;
    
}
.insideDiv{
   
    width : 25rem;
    padding-left: 2.2rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
.compC{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}